
/* set all elements' styles to normal settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HTML page scroll changed to smooth*/
html {
    scroll-behavior: smooth;
}

/*body style*/
body {
    margin: 20px auto;
    padding: 10px;
    max-width: 1000px;
    background-color: #ffffff;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/*all sections style*/
section {
    padding: 20px 20px;
}

/*main header of the page*/
header {
    padding: 20px;
    background-color: #0974e6;
    background: linear-gradient(90deg, #1483fa, #0867cc);
    color: white;
    text-align: center;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/*headings styles*/

h1, h2, h3{
    font-weight: 700;
}

h1{
    text-align: center;
    padding-top: 10px;
    line-height: 1.5;
    font-size: 50px;
}

h2{
    text-align: center;
    margin: 10px 0;
}

h3 {
    text-align: center;
}

/*Navigation Styles*/
nav {
    background-color: #0f2530;
    border-radius: 15px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 60px;
    margin: 15px 0;
    padding: 10px;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: blue;
}

nav #buttonTheme {
    background-color: #0f2530;
    padding: 1px;
}

/*About me section styles*/

#about {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 30px;
}

#about p {
    margin: 5px;
}

#about p strong {
    color: #1278e6;
    font-weight: 700;
}

/*Skills section styles*/
#skills {
    padding: 10px 50px;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
}

.skillsContainer div{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.skillsContainer div:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.skillsContainer ul{
    list-style: none;
}

.skillsContainer li{
    margin: 5px 0;
}


/*Project styles*/
#projects div {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#projects div:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

#projects div img {
    margin: 0 auto;
    border-radius: 5px;
}

/*images style*/
img{
    display: block;
    margin: 15px auto;
    max-width: 100%;
    border-radius: 5px;
}

/*form content styles*/

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input:focus, textarea:focus {
    border-color: #153545;
    outline: none;
}

button{
    background-color: #153545;
    color: white;
    padding: 15px;
    margin-left: 180px;
    width: 30%;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #0d82ff;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px 30px;
    margin: 20px 30px;
    width: auto;
    max-width: 940px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
}

#contact form {
    width: 100%;
}

#contact:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

/*Responsive Layout*/
@media (min-width: 700px) {

    /*Skills styles*/
    .skillsContainer {
        flex-direction: row;
        justify-content: space-between;
    }

    .skillsContainer div{
        flex: 1;
    }

    /*Project styles*/
    #projects div{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 20px;
    }

    #projects div h3 {
        flex-basis: 100%;
        margin: 10px;
        padding-left: 20px;
    }

    #projects div img {
        flex: 1;
        border-radius: 10px;
        padding: 10px;
    }

    #projects div p {
        flex: 1;
        max-width: 100%;
        padding: 30px;
    }
}

/*Dark mode toggle style*/

.darkMode {
    background-color: black;
    color: white;
}

.darkMode header {
    background: linear-gradient(90deg, #1a1a1a, #333);
}

.darkMode nav {
    background-color: black;
}

.darkMode #buttonTheme {
    background-color: black;
}

.darkMode #about, .darkMode #projects div, .darkMode .skillsContainer div, .darkMode #contact {
    background-color: #1e1e1e;
}

.darkMode .wholePage {
    background-color: #333;
    padding-bottom: 15px;
    border-radius: 15px;
}
